body {
    font-family: 'Nunito', sans-serif;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post {
    padding: 5px;
}
.thumb-post-completo img{
    width: 100%;
    border-radius: 8px;
}
.data-post {
    margin-left: 10px;
}
.infos-post {
    font-family: 'Nunito', sans-serif;
}
.campo-comentario {
    padding: 10px 0px 10px 10px;
    border-radius: 0px;
    margin-bottom: 30px;
    border-left: 2px solid #0C56D0;
}
.foto-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dados-user-comment
{
    margin-left: 8px;
    max-width: 300px;
}
.comentario-text
{
    margin-top: 9px;
}
.autor-data {
    color: #7d8893;
}
.header-titulo-sub {
    font-family: "Liberation Serif";
}
.subtitulo {
    color: #7d8893;
    font-size: 26px;
    font-family: fantasy;
}
.opcoes-post-adm a,
.opcoes-post-adm button{
    color: #2d3748;
    font-size: 18px;
}
.editar {
    margin-right: 5px;
}
button{
    background-color: #ffffff;
    border: unset;
}
.editar:hover {
    color: #1266f1;
}
.excluir:hover {
    color: #ff0000ff;
}
input[type="file"] {
    display: none;
}
.name-dropdown {
    margin-top: 13px;
    margin-left: 15px;
}
.dropdown {
    margin-left: 10px;
}
.icon-dropdown {
    margin-right: 5px;
}
.title-404 {
    font-weight: bold;
    font-size: 120px;
}
.er-404 p{
    width: 450px;
    font-size: 20px;
}

